@{
    ViewBag.Title = "CheckOut_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align:center">
    <h2>Thanh toán thành công</h2>
    <h2>Hẹn gặp lại quí khách</h2>
</div>
<div style="text-align: center; padding-bottom: 100px">
    <a href="http://localhost:65054/" class="btn btn-primary">Mua thêm sản phẩm khác !!!</a>
</div>
